* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  max-height: 100vh;
  background: rgb(228, 224, 191);
  scroll-behavior: smooth;
}
/* Scrollbar */
::-webkit-scrollbar {
  display: none;
}
/* Navbar */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 10px 16px;
  color: white;
}
nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* background: rgba(4, 71, 30, 0.7); */
  background: rgb(3, 109, 82);
}

nav .name {
  display: flex;
  align-items: center;
  font-family: sans-serif;
  /* border: 2px solid red; */
}

nav .name .img {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  /* margin: 0 0.8rem; */
  border-radius: 50%;
  /* border: 2px solid red; */
  overflow: hidden;
}

nav .name .img img {
  width: 100%;
  height: 100%;
}

nav .name .p {
  display: flex;
  flex-direction: column;
}

nav .name .p h6 {
  font-size: 18px;
  font-weight: lighter;
  margin-bottom: 2px;
}

nav .name .p p {
  font-size: 12px;
  opacity: 0.7;
}
nav .logos {
  position: relative;
  display: flex;
  justify-content: flex-end;
  /* border: 2px solid red; */
}
nav .logos .videocall,
.more_options,
.call {
  /* padding: 8px; */
  width: 2.6rem;
  height: 2.6rem;
  position: relative;
  display: grid;
  place-items: center;
  /* width: 2rem; */
  border-radius: 50%;
  /* margin: 0 0.3rem; */
  /* border: 2px solid red; */
}
nav .logos .videocall {
  margin-right: 0.5rem;
}
nav .logos .videocall img {
  width: 1.3rem;
}
nav .logos .call img {
  width: 1rem;
  opacity: 0.85;
}
nav .logos .more_options img {
  /* width: 16%; */
  width: 0.25rem;
  opacity: 0.9;
}
nav .logos img {
  filter: invert(100%);
  /* margin: 0 0; */
  /* color: rgba(0, 0, 0, 0.6); */
  /* border-radius: 50%; */
  /* border: 2px solid; */
}
nav .logos .videocall:hover {
  background: rgba(255, 255, 255, 0.15);
}
nav .logos .call:hover {
  background: rgba(255, 255, 255, 0.15);
}
nav .logos .more_options:hover {
  background: rgba(255, 255, 255, 0.15);
}

span:active,
i:active {
  background: rgba(0, 0, 0, 0.15);
}

/* Bottom section */
.bottom {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  z-index: 99999;
  background-color: rgb(228, 224, 191);
  width: 100%;
  padding: 5px 2px;
  /* border: 2px solid red; */
}
.bottom .mic {
  width: 42px;
  height: 42px;
  display: flex;
  border: 2px solid green;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgb(3, 109, 82);
  /* width: 30%; */
}
.bottom .mic img {
  width: 50%;
  filter: invert(100%);
}
.buttons {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  height: 45px;
  width: calc(100% - 40px);
  width: calc(100% - 48px);
  padding: 0px 6px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 2px 0.5px rgba(0, 0, 0, 0.1);
  background: white;
  border-radius: 44px;
  /* width: 100%; */
}
.buttons .smile {
  width: 3rem;
  height: 34px;
  display: grid;
  place-items: center;
  /* border: 2px solid red; */
}
.buttons .smile img {
  width: 80%;
  opacity: 0.6;
}
.buttons .attach,
.payment,
.camera {
  width: 3rem;
  height: 34px;
  display: grid;
  place-items: center;
  margin: 0 5px;
  /* border: 2px solid red; */
}
.buttons .attach img,
.payment img,
.camera img {
  width: 70%;
  opacity: 0.6;
}
.buttons .attach img {
  width: 70%;
  transform: rotate(-40deg);
}
.buttons .payment img {
  filter: grayscale(100%) contrast(80%);
  opacity: 1;
}
.buttons input {
  margin-right: 10px;
  height: 35px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  padding: 0px 5px;
  /* border: 2px solid red; */
}

.mar-rig {
  margin-right: 14px;
}

span,
i {
  font-size: 18px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.7);
}

.p {
  cursor: default;
}

/* Center Section */
.container {
  padding-bottom: 3rem;
  padding-top: 70px;
}
.container .rightside {
  margin: 10px 22px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 10px;
  /* border: 2px solid red; */
}

.container .rightside .rightmsg {
  position: relative;
  max-width: 80%;
  min-width: 100px;
  padding: 10px;
  /* border: 2px solid red; */
  display: flex;
  border-radius: 10px;
  background: #dcf8c6;
  margin-bottom: 4px;
}
.container .rightside:last-child .rightmsg {
  min-width: 130px;
}
.container .rightside .rightmsg::before {
  content: "";
  position: absolute;
  top: 0;
  right: -12px;
  width: 20px;
  height: 20px;
  z-index: 99;
  /* border: 2px solid red; */
  background: linear-gradient(
    135deg,
    #dcf8c6 0%,
    #dcf8c6 50%,
    transparent 50%,
    transparent 100%
  );
}
.msg {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10px;
  color: rgba(0, 0, 0, 0.8);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: -0.2px;
  width: 96%;
}
.msginfo {
  position: absolute;
  align-self: flex-end;
  justify-self: flex-end;
  bottom: 0;
  display: flex;
  align-items: center;
  font-size: 13px;
  right: 10px;
}
.msginfo .time {
  color: rgba(0, 0, 0, 0.6);
}
.container .leftside {
  margin: 10px 22px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 10px;
  /* border: 2px solid red; */
}
.container .leftside .leftmsg {
  position: relative;
  max-width: 80%;
  min-width: 100px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  margin-bottom: 4px;
  /* border: 2px solid red; */
  background: #fff;
}
.container .leftside .leftmsg::before {
  content: "";
  position: absolute;
  top: 0;
  left: -12px;
  width: 20px;
  height: 20px;
  z-index: 98;
  /* border: 2px solid red; */
  background: linear-gradient(
    -135deg,
    #fff 0%,
    #fff 50%,
    transparent 50%,
    transparent 100%
  );
}
.seen {
  position: relative;
  margin-left: 2px;
  color: rgb(0, 174, 255);
}
.seen span {
  color: rgb(0, 174, 255);
  transform: rotate(-8deg);
}
.seen span:nth-child(2) {
  position: absolute;
  /* top: 0; */
  left: 4.5px;
}
.seen img {
  width: 1rem;
}

.seen img:nth-child(2) {
  position: absolute;
  left: 4.5px;
}
